.integrations-logo-container img {
	margin-right: 10px;
}

.shine {
	position: relative;
	overflow: hidden;
}

.shine::before {
	background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
	content: "";
	display: block;
	height: 100%;
	left: -75%;
	position: absolute;
	top: 0;
	transform: skewX(-25deg);
	width: 50%;
	z-index: 2;
}

.shine:hover::before, .shine:focus::before {
	animation: shine 0.85s;
}

.customerlogo:hover {
	animation: scaleLogo 0.2s;

}

@keyframes shine {
	100% {
		left: 125%;
	}
}

@keyframes scaleLogo {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(1.1);
	}

	100% {
		transform: scale(1);
	}
}

a.MuiButton-root {
	box-shadow: none !important;
	border-radius: 6px;
}